body {
	background-color: black;
  font-size: 100%;
}
.container {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
}
.ryu {
	width: 659px;
	height: 494px;
}
.ryu_still, .ryu_ready, .ryu_power, .ryu_cool {
	width: 659px;
	height: 494px;
}
.ryu_ready, .ryu_power, .ryu_cool {
	display: none;
}
.ryu_cool {
  background-image: url('../images/cool.gif');
}
.ryu_ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu_still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu_power {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.hadouken, .ryu_ready, .ryu_still, .ryu_power {
  background-repeat: no-repeat;
}
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: absolute;
  z-index: 10;
  top: 164px;
  left: 520px;
  float: left;
}
.developer > h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #0185C3;
  margin-top: 400px;
  margin-left: 700px;
  position: absolute;
  display: none;
}
.developer > h1:nth-child(2) {
  margin-top: 5px;
  color: #AF0000;
}
.developer > h1:nth-child(3) {
  margin-top: 125px;
  color: #AF0000;
}
.developer > h1:nth-child(4) {
  margin-top: 200px;
  color: #AF0000;
}
.hidden {
  cursor: pointer;
}


